[Unit]
Description=Minecraft Server
Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
UMask=0027

WorkingDirectory=/srv/minecraft

Type=simple
SuccessExitStatus=0 1

PrivateUsers=true
PrivateDevices=true
PrivateTmp=true
PrivateMounts=true
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectHostname=true
ProtectClock=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ReadWritePaths=/srv/minecraft

ExecStart=/usr/bin/screen -DmS minecraft /usr/bin/java -Xms4G -Xmx4G -jar paper.jar --nogui

ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "say SERVER SHUTTING DOWN..."\\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "save-all flush"\\015'
ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "stop"\\015'
ExecStop=/bin/sleep 5

Restart=on-failure
RestartSec=10s
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
